Architecture: iphoneos-arm
Author: Classicxii <classicxii42@gmail.com>
Depiction: https://classicxiirepo.github.io/depictions/?p=com.classicxiirepo.cxls9
Description: Classicxii's Lockscreen Widget
Maintainer: Classicxii <classicxii42@gmail.com>
Name: CX.LS 9
Package: com.classicxiirepo.cxls9
Section: Widgets (CX.LS)
Version: 2.0
