body {
      text-shadow:0px 2px 2px rgba(100,100,100,0.4);
      font-family:GR;
      text-transform:uppercase;
      font-style:initial;
      color:eeeeee;
      font-size:2.5vw;
      letter-spacing:1;
}
@font-face{
      font-family:GR;
      src:url(Fonts/GR.ttf);
}
#S{
       position:absolute; top:38%; left:30%; height:24%; width:40%; background-color:#282828; border: solid 1px #FFFFFF; box-shadow:0px 0px 6px rgba(0,0,0, 0.8); opacity:1; z-index:-2;
}
#Container{
        position:absolute; top:40.5%; left:30%; width:40%; text-align:center; z-index:3; opacity:0.7;
}

