Architecture: iphoneos-arm
Author: Classicxii <classicxii42@gmail.com>
Depiction: https://classicxiirepo.github.io/depictions/?p=com.classicxiirepo.cxls8
Description: Classicxii's Lockscreen Widget
Maintainer: Classicxii <classicxii42@gmail.com>
Name: CX.LS 8
Package: com.classicxiirepo.cxls8
Section: Widgets (CX.LS)
Version: 1.0
