Architecture: iphoneos-arm
Author: classicxii
Depiction: https://classicxiirepo.github.io/depictions/?p=com.classicxiirepo.classicxiiiWtest
Description: classicxiiiW-Test
Maintainer: classicxii <classicxii42@gmail.com>
Name: classicxiiiWtest
Package: com.classicxiirepo.classicxiiiWtest
Section: Lockscreen Widgets
Version: 1.0
