Architecture: iphoneos-arm
Author: Classicxii <classicxii42@gmail.com>
Depiction: https://classicxiirepo.github.io/depictions/?p=com.classicxiirepo.cxhs7
Description: Classicxii's Homescreen Widget
Maintainer: Classicxii <classicxii42@gmail.com>
Name: CX.HS 7
Package: com.classicxiirepo.cxhs7
Section: Widgets (CX.HS)
Version: 2.4
