Architecture: iphoneos-arm
Author: Classicxii <classicxii42@gmail.com>
Depiction: https://classicxiirepo.github.io/depictions/?p=com.classicxiirepo.cxhs8
Description: Classicxii's Homescreen Widget
Maintainer: Classicxii <classicxii42@gmail.com>
Name: CX.HS 8
Package: com.classicxiirepo.cxhs8
Section: Widgets (CX.HS)
Version: 1.0
