Architecture: iphoneos-arm
Author: Classicxii <classicxii42@gmail.com>
Depiction: https://classicxiirepo.github.io/depictions/?p=com.classicxiirepo.cxhs4
Description: Classicxii's Homescreen Widget
Maintainer: Classicxii <classicxii42@gmail.com>
Name: CX.HS 4
Package: com.classicxiirepo.cxhs4
Section: Widgets (CX.HS)
Version: 2.0
